#principal2{
    width: 615px;
    height: 330px;
    border: 1px solid #000;
    background-color: #03AED2;
    position: relative;
    margin: auto;
}

body {
    background-color: #c7c7c7;
}

h1 {
    text-align: center;
}

.cxvoltar {
    position: absolute;
    bottom: 7px; 
    right: 7px; 
    padding:7px;
    text-decoration:none;
    font-size:15px;
}

#btnvolt {
    height: 45px;
    width: 45px;
}